<% if object.errors.any? %>
  <h3>Error! Something isn't working right.</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
